/* variables */
:root {
    --dark-1: #090E34;
    --dark-2: #0B113A;
    --blue: #4A6CF7;
    --card: #1D2144;
}


/* ========= CSS Reset ========= */

* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    text-transform: capitalize;
}

button {
    text-transform: capitalize;
}

ul,
li {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 50px;
    font-weight: bolder;
}

h5 {
    color: #E7E7EB;
    line-height: 2rem;
}

p {
    color: #959CB1;
}
/* ========= Start ========= */

/* ========= Header ========= */

header {
    position: fixed;
    width: 100%;
    height: 4.5rem;
    top: 0;
    z-index: 222222222222;

    background: rgba(74, 108, 247, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

header h1 img {
    width: 175px;
}

header a {
    font-weight: bolder;
}

header button {
    background-color: var(--blue);
    width: 10rem;
    border: none;
    font-weight: bolder;
}

header i {
    font-size: 25px;
}

/* ========== Banner ========== */

.banner {
    height: 100vh;
    background-color: var(--dark-1);
    position: relative;
    z-index: -1;
    overflow: hidden;
}

.banner .row {
    width: 75%;
}

.banner .top-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
}

.banner .bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
}

.banner button.button-1 {
    background-color: var(--blue);
    width: 10rem;
    border: none;
    font-weight: bolder;
}

.banner button.button-2 {
    background-color: rgba(255, 255, 255, 0.1);
    width: 10rem;
    border: none;
    font-weight: bolder;
}

/* ========== Features ========== */

.features {
    height: 150vh;
    padding: 15vh 0;
    background-color: var(--dark-2);
}

.features figure {
    width: 70px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 28px;
}

.features h5 {
    width: 50%;
}

/* ========== Video ========== */

.video {
    height: 120vh;
    padding: 15vh 0;
    background-color: var(--dark-1);
    position: relative;
    z-index: -2;
}

.video #bg {
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
}

.video p {
    width: 50%;
}

.video-poster {
    z-index: 0;
    width: 60%;
}

.video-poster img {
    width: 100%;
    height: 100%;
}

/* ========== Brands ========== */

.brands {
    height: 50vh;
    padding: 10vh 0;
    background-color: var(--dark-1);
}

.brands .container {
    background-color: var(--dark-2);
}

/* ========== About ========== */

.about {
    height: 100vh;
    padding: 15vh 0;
    background-color: var(--dark-1);
}

.about i {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--blue);
    width: 35px;
    height: 35px;
    font-size: 22px;
}

/* ========== Options ========== */

.options {
    height: 100vh;
    background-color: var(--dark-1);
    padding: 15vh 0;
}

/* ========== FeedBack ========== */

.feedback {
    height: 100vh;
    padding: 15vh 0;
    background-color: var(--dark-2);
}

.feedback .top-right {
    top: 0;
    right: 0;
}

.feedback .bottom-left {
    bottom: 0;
    left: 0;
}

.feedback .col-lg-12 .col-lg-4 .p-4 {
    background-color: var(--card);
}

/* ========== Blogs ========== */

.blogs {
    height: 140vh;
    padding: 15vh 0;
    background-color: var(--dark-1);
}

.blogs .col-lg-12 .col-lg-4 .rounded {
    background-color: var(--card);
    overflow: hidden;
}

.blogs .col-lg-12 .col-lg-4 .rounded>figure {
    height: 40%;
    width: 100%;
}

.blogs .col-lg-12 .col-lg-4 .rounded>figure:hover img {
    transform: scale(1.4);
}

.blogs .col-lg-12 .col-lg-4 .rounded>figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.35s;
}

/* ========== Form ========== */

.form {
    height: 130vh;
    padding: 15vh 0;
    background-color: var(--dark-2);
}

.form .container .row .col-xl-8>div {
    background-color: var(--card);
}

.form .container .row input {
    background-color: #242B51;
    outline: none;
    border: none;
    height: 3rem;
    box-shadow: 0px 0px 15px 1px rgb(9, 9, 9);
}

.form .container .row .col-xl-8 textarea {
    background-color: #242B51;
    outline: none;
    border: none;
    height: 10rem;
    box-shadow: 0px 0px 15px 1px rgb(9, 9, 9);
}

.form .container .row .col-xl-4>div {
    background-color: #101848;
}

.form .container .row .col-xl-8 button {
    background-color: var(--blue);
    outline: none;
    border: none;
    color: white;
}

.form .container .row .col-xl-4 button {
    background-color: var(--blue);
    height: 3rem;
    outline: none;
    border: none;
}

/* ========== Form ========== */

footer {
    height: 50vh;
    padding: 10vh 0;
    background-color: var(--dark-1);
}

.copy-right {
    height: 10vh;
    background-color: var(--blue);
}

/* ========== Media Queries ========== */

@media all and (max-width: 1200px) {
    .features {
        height: 180vh;
    }

    .video-poster {
        width: 85%;
    }

    .about {
        height: 120vh;
    }

    .form {
        height: 240vh;
    }
}

@media all and (max-width: 992px) {
    .banner .row {
        width: 100%;
    }

    .features {
        height: 200vh;
    }

    .video-poster {
        width: 90%;
    }

    .brands {
        height: 80vh;
    }

    .about {
        height: 200vh;
    }

    .options {
        height: 180vh;
    }

    .feedback {
        height: 150vh;
    }

    .blogs {
        height: 240vh;
    }

    footer {
        height: 100vh;
    }

}

@media all and (max-width: 768px) {

    h2 {
        font-size: 35px;
    }

    .features {
        height: 300vh;
    }

    .features h5 {
        width: 100%;
    }

    .video-poster {
        width: 100%;
    }

    .video p {
        width: 100%;
    }

    .feedback {
        height: 180vh;
    }

    .blogs {
        height: 320vh;
    }

}

@media all and (max-width: 576px) {
    .features {
        height: 320vh;
    }
}